/* .main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

@media (max-width: 1350px) {
  .main {
    box-sizing: initial;
    margin: 0 20px;
  }
} */